body {
  background-color:#000
}

section#mobile {
  display:none
}

* {
  padding:0;
  margin:0
}

.flyer {
  width:100%
}

a.escape {
  position:absolute;
  top:0;
  left:0;
  width:314px;
  height:80px
}

.navbar {
  width:80%!important
}

.navbar ul li a {
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  margin-top:25px;
  padding-left:17px;
  padding-right:16px;
  float:left;
  font-family:'ProximaNova-Regular';
  font-size:18px;
  color:#fff;
  text-decoration:none;
  list-style:none;
  letter-spacing:2px;
  text-transform:uppercase;
  font-weight:800
}

.navbar ul li a:hover {
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
  margin-top:25px;
  padding-left:17px;
  padding-right:16px;
  float:left;
  font-family:'ProximaNova-Regular';
  font-size:18px;
  color:#afd52a;
  text-decoration:none;
  list-style:none;
  letter-spacing:2px;
  text-transform:uppercase;
  font-weight:800
}

.click-nav {
  margin:100px auto;
  width:200px
}

.click-nav ul {
  position:relative;
  font-weight:900
}

.click-nav ul li {
  position:relative;
  list-style:none;
  cursor:pointer
}

.click-nav ul li ul {
  position:absolute;
  left:0;
  right:0
}

.click-nav ul .clicker {
  position:relative;
  background:#2284B5;
  color:#FFF
}

.click-nav ul .clicker:hover,.click-nav ul .active {
  background:#196F9A
}

.click-nav img {
  position:absolute;
  top:9px;
  left:12px
}

.click-nav ul li a {
  transition:background-color .2s ease-in-out;
  -webkit-transition:background-color .2s ease-in-out;
  -moz-transition:background-color .2s ease-in-out;
  display:block;
  padding:8px 10px 8px 40px;
  background:#FFF;
  color:#333;
  text-decoration:none
}

.click-nav ul li a:hover {
  background:#F2F2F2
}

/* Fallbacks */
.click-nav .no-js ul {
  display:none
}

.click-nav .no-js:hover ul {
  display:block
}

@font-face {
  font-family:'BebasNeueBook';
  src:url(../fonts/BebasNeueBook.otf);
  font-weight:400;
  font-style:normal
}

@font-face {
  font-family:'BebasNeueLight';
  src:url(../fonts/BebasNeueLight.otf);
  font-weight:400;
  font-style:normal
}

@font-face {
  font-family:'BebasNeueRegular';
  src:url(../fonts/BebasNeueRegular.otf);
  font-weight:400;
  font-style:normal
}

@font-face {
  font-family:'ProximaNova-Light';
  src:url(../fonts/ProximaNova-Light.ttf);
  font-weight:400;
  font-style:normal
}

@font-face {
  font-family:'ProximaNova-Regular';
  src:url(../fonts/ProximaNova-Regular.ttf);
  font-weight:400;
  font-style:normal
}

@font-face {
  font-family:'ProximaNova-Semibold';
  src:url(../fonts/ProximaNova-Semibold.ttf);
  font-weight:400;
  font-style:normal
}

body {
  font-family:'ProximaNova-Regular','BebasNeueBook'
}

img.TotallyImage {
  width:100%!important
}

section#mobile {
  display:none
}

#mktoForm_1288 input {
  padding:10px;
  border:2px solid #afd52a;
  transition:box-shadow 0.3s,border .3s
}

#mktoForm_1288 input:focus,input.focus {
  border:solid 2px #707070;
  box-shadow:0 0 5px 2px #969696
}

#mktoForm_1288 input[type="checkbox"] {
}

#mktoForm_1288 button[type="submit"] {
  border:0 solid #000;
  border-radius:0 0 3px 3px;
  box-shadow:1px 1px 2px rgba(0,0,0,0.4);
  font-size:18px;
  color:#FFF;
  padding:4px 13px;
  background-color:#414042;
  margin-top:-3px;
  float:left;
  margin-left:8px
}

div#Foreigner {
  width:100%;
  height:1000px;
  position:absolute;
  top:703px
}

div#Entertainment {
  width:100%;
  height:1000px;
  position:absolute;
  top:1618px
}

div#Venue {
  width:100%;
  height:1000px;
  position:absolute;
  top:4610px
}

div#Rsvp {
  width:100%;
  height:500px;
  position:absolute;
  top:5525px
}

#wrap {
  width:100%;
  height:auto;
  margin:0;
  z-index:99;
  position:relative;
  display:none;
}

#wrap ul {
  list-style-type:none;
  text-align:right;
}

#wrap ul li {
  background-color:#4D4D4D;
  color:#C6E83A;
  padding:11px;
  border-top:2px solid #C6E83A;
  width:620px
}

#wrap li a {
  text-decoration:none;
  color:#E4E4E4;
  letter-spacing:8px;
  text-transform:uppercase;
  line-height:2
}

#wrap li a:hover {
  text-decoration:none;
  color:#c6e83a;
  letter-spacing:8px;
  line-height:2;
  text-transform:uppercase
}